{{#partial "content"}}
    <div class="alert alert-success mt40">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Your sighting has been successfully recorded.</strong>
        <a href="/" class="alert-link">Back to home</a>.
    </div>
{{/partial}}

{{> layout.hbs}}